body {
    margin: 0;
}

iframe.navigation {
    position: fixed;
    top: 0;
    width: 100%;
}

div.page-content {
    padding: 3em;
    margin-top: 2em;
}

div.columns {
    display: flex;
    flex-direction: row;
}

div.column {
    flex: 1 1 auto;
}

div.widget {
    width: 70%;
    padding: 1em;
    border-radius: .3em;
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

.widget > .content {
    padding-top: 1em;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item > .main-content {
    padding: 0.2em;

    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divider:not(.vertical):not(.horizontal) {
    border-top: 1px solid rgba(34, 36, 38, .15);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.clearing.divider {
    clear: both;
}

a {
    color: #4183c4;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.icon {
    margin-right: .3em;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon.cycled {
    border-radius: 500rem;
}

.icon.Available {
    background-color: white;
}

.icon.Provisioning {
    background-color: #54c8ff;
}

.icon.Live {
    background-color: crimson;
}

.icon.bordered {
    border: 1px solid dimgray;
}

img.video{
    max-width: 100%;
}

canvas {
    max-width: 40em;
    display: inline-block
}

button{
    background: #e0e1e2 none;
    padding: .78571429em 1.5em .78571429em;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    font-weight: 700;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

input{
    padding: .67857143em 1em;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
}

form{
    max-width: 30%;
}

form>input{
    width: 100%;
    clear: both;
}