<html>
<head>
    <title>Video Streaming Demonstration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project-styles.css') }}">
    <script src="/static/jquery-min.js"></script>
    <script type="text/javascript">
    window.addEventListener("beforeunload", function (e) {
  $.ajax({
            url: '/devices/{{device_id}}/stop/',
            data: '',
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
});
window.addEventListener("onbeforeunload", function (e) {
  $.ajax({
            url: '/devices/{{device_id}}/stop/',
            data: '',
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
});
window.addEventListener("onunload", function (e) {
  $.ajax({
            url: '/devices/{{device_id}}/stop/',
            data: '',
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
});
    </script>
</head>
<body>
<iframe src="/navigation"
        class="navigation"
        name="targetframe"
        allowTransparency="true"
        scrolling="no"
        frameborder="0" >
</iframe>
<div class="page-content">
    <h1>Video Streaming Demonstration</h1>
    <img class="video" src="{{video_url}}" id="stream">
    <br>
    <a href="/devices/{{device_id}}"><button type="button" id="back">Back</button></a>
</div>
</body>
</html>