<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project-styles.css') }}">
</head>
<body>
<iframe src="/navigation"
        class="navigation"
        name="targetframe"
        allowTransparency="true"
        scrolling="no"
        frameborder="0" >
</iframe>
<div class="page-content">
    <h3>User guide</h3>
    <ul>
        <li>
            <a href="/files/user_guide.pdf">
                User guide
            </a>
        </li>
    </ul>

    <h3>REST API Documentation</h3>
    <ul>
        <li>
            <a href="/files/api_guide.pdf">
                API guide
            </a>
        </li>
        <li>
            <a href="/home/">
                Home
            </a>
        </li>
    </ul>
</div>
</body>
</html>