<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project-styles.css') }}">
</head>
<body>
<iframe src="/navigation"
        class="navigation"
        name="targetframe"
        allowTransparency="true"
        scrolling="no"
        frameborder="0">
</iframe>
<div class="page-content">
    <h3>User guide</h3>
    <ul>
        <li>
            <a href="/static/docs/user_guide.pdf" id="api">
                User guide
            </a>
        </li>
    </ul>

    <h3>REST API Documentation</h3>
    <ul>
        <li>
            <a href="/static/docs/api_guide.pdf" id="guide">
                API guide
            </a>
        </li>
    </ul>
    <a href="/home/" id="home">
        Home
    </a>
</div>
</body>
</html>
