<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project-styles.css') }}">
</head>
<body>
<div class="page-content">
    <div class="columns">
        <div class="column">
            <div class="widget">
                <h3 class="header">
                    Available devices:
                </h3>
                <div class="clearing divider"></div>
                <div class="content">

                        {% for device in devices %}
                        {% for key, value in device.iteritems() %}

                        <div class="item">
                            <div class="main-content">
                                <div class="icon {{value}} cycled bordered"></div>
                                <a href="/devices/{{key}}">  Camera {{key}} </a>
                            </div>
                            <div class="label">{{value}}</div>
                        </div>

                        {% endfor %}
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="column">

        </div>
    </div>
</div>
</body>
</html>