<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project-styles.css') }}">
</head>
<body>
<div class="page-content">
    <div class="widget" style="width: 25%">
        <h3>Welcome to a security system home page!</h3>

        <a href="/login/" id="login">
            <button type="button">Login</button>
        </a>

        <a href="/register/" id="register">
            <button type="button">Register</button>
        </a>
        <a href="/help/" id="help">
            <button type="button">Help</button>
        </a>
    </div>
</div>
</body>
</html>