<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project-styles.css') }}">
</head>
<body>
<div class="page-content">
    <ul>
        <li>
            <a href="/login/" id="login">Login</a>
        </li>
        <li>
            <a href="/register/" id="register">Register</a>
        </li>
        <li>
            <a href="/help/" id="help">Help</a>
        </li>
    </ul>
</div>
</body>
</html>