<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='navigation-styles.css') }}">
</head>
<body>
<ul>
    <li><a target="_top" href="/home" id="home_link">Home</a></li>
    <li><a target="_top" href="/documentation" id="doc_link">Documentation</a></li>
    <li><a target="_top" href="/alerts" id="alerts_link">Alerts</a></li>
    <li><a target="_top" href="/help" id="help_link">Help</a></li>
    <li class="float-right">
        <a target="_top" href="/logout" id="logout_link">Log out from user: {{user}}</a>
    </li>
</ul>
</body>
</html>